* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #ecca7a;
    text-align: center;
  }
  
  .container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    position: relative;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #dd9727;
    cursor: pointer;
  }
  
  #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
  }
  #forO{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
  }
  #forX{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
  }
  
  #msg {
    color: #b0413e;
    font-size: 5vmin;
  }
  
  .msg-container {
    padding-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  /* botton reset and new game butten*/
  .showBtn{
    display: flex;
    gap: 2%;
    justify-content: center;

  }
  
  .hide {
    display: none;
  }
 #scroll{
  background-color: #191913;
  color: aliceblue;
  direction:calc()
  

 }
 footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.strike{
  position: absolute;
  background-color: rgb(88, 224, 9);
}
.strike-row-1{
  width: 73%;
  height: 5px;
  top: 15%;
  /* margin: 0px 50px 0px 50px; */
}
.strike-row-2{
  width: 73%;
  height: 5px;
  top: 49%;
  /* margin: 0px 50px 0px 50px; */
}
.strike-row-3{
  width: 73%;
  height: 5px;
  top: 84%;
  /* margin: 0px 50px 0px 50px; */
}
.strike-col-1{
  height: 73%;
  width: 5px;
  left: 17%;
  /* margin: 0px 50px 0px 50px; */
}
.strike-col-2{
  height: 73%;
  width: 5px;
  left: 49.5%;
  /* margin: 0px 50px 0px 50px; */
}
.strike-col-3{
  height: 73%;
  width: 5px;
  left: 82%;
  /* margin: 0px 50px 0px 50px; */
}
.strike-digonal-1{
  height: 5px;
  width: 75%;
  top: 50%;
  left: 13%;
  transform: skewY(47deg);
  /* margin: 0px 50px 0px 50px; */
}
.strike-digonal-2{
  height: 5px;
  width: 75%;
  top: 50%;
  left: 13%;
  transform: skewY(-47deg);
  /* margin: 0px 50px 0px 50px; */
}